<!-- <ion-footer  class=" ion-no-border"> -->

  <!-- <ion-toolbar> -->
    <div class="">
      <h3 class="h3ini1  ion-text-center">
        <h3 id="b2"> &copy;{{pie}}</h3>
        <a style="color:#222; font-size: 11px; margin: 0 0 0 8px;" href="tel:+34616474298">Tel: 616 47 42 98</a> 
      </h3>     
  </div>
  <!-- 
    <ion-title class="ion-text-left">
      <h3 id="b"> &copy;{{pie}}</h3>
      <a style="color:#222; font-size: 11px; margin: 0 0 0 8px;" href="tel:+34616474298">616 47 42 98</a> 
    </ion-title>
   -->
  <!-- </ion-toolbar> -->
<!-- </ion-footer> -->
