

<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start" *ngIf="router.url !== '/home'">
      <ion-back-button defaultHref="/" text="" color="light">
      </ion-back-button>
    </ion-buttons>





    <div class="col-md-12" class="ion-text-center bg-primary">

      <ion-buttons class="ion-float-end">
        <ion-menu-button>
        </ion-menu-button>
      </ion-buttons>
      <a href="./">
        <h1 id="b">ANNA PUGET - PISOS SANT CUGAT</h1> &nbsp;
      </a>
    </div>



    <!-- <ion-title class="ion-text-center ion-text-uppercase"><h1 id="b">ANNA PUGET - PISOS SANT CUGAT</h1></ion-title> -->
  </ion-toolbar>
</ion-header>


