#inputemail{
    border: #555 1px solid;
    width: 300px;
    padding-left:8px !important
}

#submit-id{
   background: #58c; 
   color:#fff;
   text-align: center;
}
.divemail{
   margin-bottom: 21px; 
}