<app-header titulo="Quienes Somos"></app-header>
<ion-content class=" ion-padding">
  <br><br>

    <div id="wrap" class="col-md-4 initext">
      <h3 class="h3ini1">
          Anna Puget Pisos Sant Cugat, es una empresa inmobiliaria con 17 años de experiencia y de gran conocimiento del mercado.
          Nuestro trato  personalizado, serio y eficiente le ofrece un seguimiento continuado en la gestión de compraventa o alquiler.
          Realizamos de manera gratuita la tasación de su propiedad. <br><br>
      </h3>
      <br><br>
      <h3 class="h3tel">
        <a href="tel:+34616474298">Tel: 616 47 42 98</a><br>
        <a href="tel:+34935908211">Tel: 93 590 82 11</a><br>
      </h3> 
      <h3 class="h3ini1">
          <div id="aicat">Registre d'agents immobiliaris de Catalunya AICAT 3245</div>
          <div style="font-size:18px">Carrer de les Escoles, 22 Sant Cugat del Vallès 08173</div>
      </h3> 
      
  </div>

</ion-content>
